/*
#dropdown-menu h1:after{
  border:solid 0px blue;
  content:'V';
  font-family:"Pulsar";
  padding:5px 0px;
  position:absolute;
}
*/
#dropdown-menu{
  cursor:pointer;
  z-index:99;
}

#ddm_sector{
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index:99;
}

#dropdown-links{
  background-color: #DA4747; 
  display: block;
  left:0px;
  position: absolute;
  right:0px;
  top: 0px;
  width: 100%;
  z-index: 99;
}
#dropdown-links .header{
  color: #F2AFAF;
  display: block;
  font-family: "OpenSans-Light";
  font-size: 25px;
  font-weight: lighter;
  padding: 20px 0px;
}
#dropdown-links .section{
  float: left;
  height:300px;
  margin: 0px 3%;
}
#dropdown-links .section:nth-child(1){ width: 25%;}
#dropdown-links .section:nth-child(2){ width: 25%;}
#dropdown-links .section:nth-child(3){ width: 10%;}
#dropdown-links .section:nth-child(4){ width: 10%;}

#dropdown-links li{
  padding: 8px 0px;
}
#dropdown-links li a{
  font-family: "OpenSans-Regular";
  font-size: 1.2em;
  color: #fff;
}


/*
#dropdown-links{
  background:#fff;
  border:1px solid #BABABA;
  display: none;
  left:5px;
  margin:-1px 0px 0px 0px;
  padding:5px 0px;
  position:absolute;
}

#dropdown-links li{
  display:block;
  padding:5px 10px;
  width:200px;
}
#dropdown-links li:hover{
  background:#ddd;
}

#dropdown-links li.divider{
  background-color:#717171;
  height:1px;
  margin:9px 0px;
  overflow:hidden;
  padding:0px;
  width:100%;
}
*/