@font-face {
    font-family: Banzo;
    src: url(../font/Banzo/Banzo.woff);
    font-weight:400;
}
@font-face {
    font-family: BebasNeue;
    src: url(../font/BebasNeue/BebasNeue-webfont.woff);
    font-weight:400;
}
/* DOSIS */
@font-face {
    font-family: Dosis-Bold;
    src: url(../font/Dosis/Dosis-Bold.ttf);
    font-weight:400;
}
@font-face {
    font-family: Dosis-ExtraBold;
    src: url(../font/Dosis/Dosis-ExtraBold.ttf);
    font-weight:400;
}
@font-face {
    font-family: Dosis-ExtraLight;
    src: url(../font/Dosis/Dosis-ExtraLight.ttf);
    font-weight:400;
}
@font-face {
    font-family: Dosis-Light;
    src: url(../font/Dosis/Dosis-Light.ttf);
    font-weight:400;
}
@font-face {
    font-family: Dosis-Medium;
    src: url(../font/Dosis/Dosis-Medium.ttf);
    font-weight:400;
}
@font-face {
    font-family: Dosis-Regular;
    src: url(../font/Dosis/Dosis-Regular.ttf);
    font-weight:400;
}
@font-face {
    font-family: Dosis-SemiBold;
    src: url(../font/Dosis/Dosis-SemiBold.ttf);
    font-weight:400;
}
/* END DOSIS */

@font-face {
    font-family: Electrolize;
    src: url(../font/Electrolize/Electrolize-Regular.ttf);
    font-weight:400;
}
@font-face {
    font-family: HelveticaUI;
    src: url(../font/HelveticaUI/HeleticaUI.woff);
    font-weight:400;
}
@font-face {
    font-family: Lavot;
    src: url(../font/Lavot/Lavot.woff);
    font-weight:400;
}

/* OPENSANS */
@font-face {
    font-family: OpenSans-Bold;
    src: url(../font/Open_Sans/OpenSans-Bold.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../font/Open_Sans/OpenSans-BoldItalic.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../font/Open_Sans/OpenSans-ExtraBold.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../font/Open_Sans/OpenSans-ExtraBoldItalic.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-Italic;
    src: url(../font/Open_Sans/OpenSans-Italic.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-Light;
    src: url(../font/Open_Sans/OpenSans-Light.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-LightItalic;
    src: url(../font/Open_Sans/OpenSans-LightItalic.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-Regular;
    src: url(../font/Open_Sans/OpenSans-Regular.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-Semibold;
    src: url(../font/Open_Sans/OpenSans-Semibold.ttf);
    font-weight:400;
}
@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(../font/Open_Sans/OpenSans-SemiboldItalic.ttf);
    font-weight:400;
}
/* END OPENSANS */

@font-face {
    font-family: Pulsar;
    src: url(../font/Pulsarjs/pulsarjs.ttf);
    font-weight:400;
}
@font-face {
    font-family: SegoeUI-Light;
    src: url(../font/Segoe/segoeuil.ttf);
    font-weight:200;
}

@font-face {
    font-family: Walkway;
    src: url(../font/walkway/Walkway_rounded.ttf);
    font-weight:400;
}
@font-face {
    font-family: WebSymbols;
    src: url(../font/WebSymbols/WebSymbols-Regular.otf);
    font-weight:400;
}
@font-face {
    font-family: Bariol;
    src: url(../font/Bariol_Regular/Bariol_Regular.otf);
    font-weight:400;
}
/* CASSANNET */
@font-face {
    font-family: CassannetRegular;
    src: url(../font/cassannet_font/Cassannet.otf);
    font-weight:400;
}
@font-face {
    font-family: CassannetOutline;
    src: url(../font/cassannet_font/Cassannet_Outline.otf);
    font-weight:400;
}
/* END CASSANNET */
@font-face {
    font-family: Hightide;
    src: url(../font/hightide/hightide1.ttf);
    font-weight:400;
}

/* SABADO */
@font-face {
    font-family: SabadoRegular;
    src: url(../font/Sabado/Sabado_Regular.otf);
    font-weight:400;
}
@font-face {
    font-family: SabadoItalic;
    src: url(../font/Sabado/Sabado_Italic.otf);
    font-weight:400;
}
/* END SABADO */

/* SEQUI */
@font-face {
    font-family: SequiRegular;
    src: url(../font/Sequi/Sequi_regular.otf);
    font-weight:400;
}
@font-face {
    font-family: SequiLight;
    src: url(../font/Sequi/Sequi_light.otf);
    font-weight:400;
}
@font-face {
    font-family: SequiBold;
    src: url(../font/Sequi/Sequi_bold.otf);
    font-weight:400;
}
/* END SABADO */

/* NEXA */
@font-face {
    font-family: NexaLight;
    src: url(../font/nexa/Nexa_Light.otf);
    font-weight:400;
}
@font-face {
    font-family: NexaBold;
    src: url(../font/nexa/Nexa_Bold.otf);
    font-weight:400;
}

/* PRIME */
@font-face {
    font-family: PrimeLight;
    src: url(../font/prime/Prime_Light.otf);
    font-weight:400;
}
@font-face {
    font-family: PrimeRegular;
    src: url(../font/prime/Prime_Regular.otf);
    font-weight:400;
}





