
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-angle-down:before { content: '\e800'; } /* '' */
.icon-angle-double-down:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e803'; } /* '' */
.icon-down-open-big:before { content: '\e804'; } /* '' */