@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?6av1m5');
	src:url('fonts/icomoon.eot?#iefix6av1m5') format('embedded-opentype'),
		url('fonts/icomoon.woff?6av1m5') format('woff'),
		url('fonts/icomoon.ttf?6av1m5') format('truetype'),
		url('fonts/icomoon.svg?6av1m5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-down2:before {
	content: "\e601";
}
.icon-arrow-down3:before {
	content: "\e602";
}
.icon-ellipsis:before {
	content: "\e603";
}
.icon-dots:before {
	content: "\e604";
}
