#dropdown-menu
  cursor:pointer
  z-index:99

#ddm_sector
  bottom: 0
  display: none
  left: 0
  position: fixed
  right: 0
  top: 0
  z-index:99

#dropdown-links
  background-color: #DA4747
  display: none
  left:0px
  position: absolute
  right:0px
  top: 0px
  width: 100%
  z-index: 99

#dropdown-links
  .header
    color: #F2AFAF
    display: block
    font-family: "OpenSans-Light"
    font-size: 25px
    font-weight: lighter
    padding: 20px 0px

  .section
    float: left
    height: 350px
    margin: 0px 3%

    &:nth-child(1)
      width: 25%
    &:nth-child(2)
      width: 25%
    &:nth-child(3)
      width: 10%
    &:nth-child(4)
      width: 10%

  li
    padding: 8px 0px

    a
      font-family: "OpenSans-Regular"
      font-size: 1.2em
      color: #fff
