@font-face
    font-family: OpenSans-Regular
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf)
    font-weight: 400

@font-face
    font-family: OpenSans-Light
    src: url(../fonts/Open_Sans/OpenSans-Light.ttf)
    font-weight: 400

@font-face
    font-family: Electrolize
    src: url(../fonts/Electrolize/Electrolize-Regular.ttf)
    font-weight: 400

@font-face
    font-family: Segoe-UI
    src: url(../fonts/Segoe/segoeui.ttf)
    font-weight: 400